<!DOCTYPE html>
<html xml:lang="pl">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
	<meta name="author" content="Pecyna Krzysztof" />
	<meta name="description" content="Kursy" />
	<title>Kursy - Pecyna Krzyszof</title>
	<script type="text/javascript" src="./jquery-1.4.2.min.js"></script>
	<script src="./function.js" type="text/javascript"></script>

	
</head>
<body>
	<div id="top">
			<div class="menu">
			<div style="float:left">{menu}</div>
			<div style="float:right">{login}</div>
			</div>
	</div>

	<div id="head">
		<h1>KURSY FILIPA</h1>
	</div>
	
	<div id="main" class="main">
		<div id="err" class="err"> {err} </div>
		{main}
	</div>
	
	<div id="foot">
		<p><a href="mailto:slovic@dsv.agh.edu.pl">Copyright @ Pecyna Krzysztof</a> :: <a href="doc/">Dokumentacja</a></p>
		<p>
			<a href="http://validator.w3.org/check?uri=referer"><img
			src="xhtml-1_0.png"
			alt="Valid XHTML 1.0 Strict" /></a>

			<a href="http://jigsaw.w3.org/css-validator/check/referer"><img
			src="css.png"
			alt="Poprawny CSS!" /></a>
		</p>

	</div>
	<div id='temp'></div>
</body>
</html>
